# Frontend ignores
/frontend/leger/node_modules/
/frontend/leger/.env

# Backend ignores
/backend/node_modules/
/backend/.env
/backend/portfolio-kp-1.pem

#Firebase ignores
/frontend/.firebase/
/frontend/.firebaserc
/frontend/.firebase.json
